cat << 'EOF' > .gitignore
# Laravel
/back/vendor
/back/.env
/back/storage/*.key
/back/storage/logs
/back/storage/framework
/back/public/build

# React
/front/node_modules
/front/dist
/front/.env

# Common
.DS_Store
.idea
.vscode
node_modules
EOF